/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
}

.cover-container {
  max-width: 42em;
}

.main-content-information {
    padding-bottom: 6%;
}

.projects-content-information {
  padding-bottom: 3%;
}

.content-information {
  padding-top:    10%;
  padding-bottom: 2%;
}

.my-links {
  padding-top: 3%;
  padding-left: 2%;
  text-decoration: none;
}
.my-links:hover {
  padding-top: 3%;
  padding-left: 2%;
  text-decoration: none;
}

a:link{
    color: #000000; 
}
a:visited{
    color: #000000;
}
a:hover{
    color: #FF894E;
}
a:active{
    color: #FF894E;
}

::-moz-selection { /* Code for Firefox */
  color: #ffffff;
  background-color: #FF894E ;
}

::selection {
  color: #ffffff;
  background-color: #FF894E;
}
